@model Models.Model.University
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <legend>Book</legend>
    <div class="label">
        @Html.LabelFor(model => model.UniversityId, "Id", new { style = "color:#ff0000" })
    </div>
        <div>
            @Html.TextBoxFor(model => model.UniversityId)
            @Html.ValidationMessageFor(model => model.UniversityId)
        </div>

        <div class="label">
            @Html.LabelFor(model => model.Name, "Name", new { style = "color:#ff0000" })
        </div>
        <div>
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="label">
            @Html.LabelFor(model => model.Address, "Address", new { style = "color:#ff0000" })
        </div>
        <div>
            @Html.TextBoxFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>

}
